# Log
logs
*.log
.history

# Runtime data
*.pid
*.seed
.cache
RUNNING_PID
test-result

# Build folder
/project/project
/project/target
/target
*/target
/out
/dist
/build
/lib_managed

# IDE file
.idea_modules
.idea
.settings

# Dump
dump.rdb

# Production config file
*/src/main/resources/production.conf
*/src/test/resources/production.conf

# OS file
.DS_Store

# Big dumy data
test/resources/test-data/*-big*
spark-warehouse/
